body{
    background-color: skyblue;
    margin: 0;
    text-wrap: wrap;
}

header{
    background-color: rgb(26, 123, 179);
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 0;
    height: fit-content;
    align-items: center;
    z-index: 100000;
}

main{
    margin-top: 4.5%;
    margin-bottom: 5%;
}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    align-items: center;
}

.text:hover{
    transform: scale(1.15, 1.15);
}

#FotoEu:hover{
    box-shadow: 0px 0px 15px 8px rgb(21, 167, 211);
}

#TernariaImg:hover{
    box-shadow: 0px 0px 15px 6px rgb(21, 167, 211);
}

::-webkit-scrollbar{
    background: rgb(2,0,36);
    background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(23,129,213,1) 28%, rgba(2,0,36,1) 100%);
    width: 14px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.75);
}



.titulo{
    width: 100%;
    text-align: center;
}

.card{
    height: fit-content;
    border-radius: 15px;
    border: 3px, solid, black;
    padding: 10px;
    img{
        width: 100%;
    }
}

.text{
    width: 50%;
    transition: 0.3s ease-in-out;
}

.img{
    width: 30%;
}

#Euimg{
    width: 4%;
    margin: 0.2%;
}

#Eu{
    h1{
        width: 100%;
    }
    #Sobre{
        background-color: wheat;
    }
}

#FotoEu{
    background-color: aqua;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 3px rgb(21, 167, 211);
    transition: 0.5s ease-in-out;
}

#Projetos > h1{
    color: blue;
}

/* #Ternaria{
    background-color: green;
} */


#TernariaSobre{
    background-color: chartreuse;
}

#TernariaImg{
    padding: 0;
    border: 0;
    img{
        border-radius: 15px;
        border: 3px, solid, black;
        transition: 0.5s ease-in-out;
        box-shadow: 0px 0px 15px 3px rgb(21, 167, 211);
    }
}








footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: rgb(26, 123, 179);
}
